<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.example.controllers.SignUp"></activity>
        <activity
            android:name="com.example.controllers.BookedJourneys"
            android:label="@string/title_activity_booked_journeys"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.controllers.TicketSearch"
            android:label="@string/title_activity_ticket_search"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.example.controllers.TimetableRecordView"
            android:label="@string/title_activity_timetable_record_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.UIElementControllers.RecyclerTimetableRecord" />
        <activity
            android:name="com.example.controllers.Timetable"
            android:label="@string/title_activity_timetable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.controllers.HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.controllers.LoginController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>